* {
    box-sizing: border-box;
}

#report {
	font-size: 9pt;
}

#table {
	text-align: center;
}

#table th {
	text-align: center;
}

.panel-heading h3 {
	text-align: center;
}

#panel {
	max-width: 80%;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0, 0, 0, 0.1);
}

#panel img {
	width: 200px;
}

#panel h2, h4 {
	text-align: center
}

#panel img {
	padding-top: 30px;
}

#panel #note {
	color: red;
}

#panel table caption {
	align: center;
}

a#button16 {
	font-weight: bold;
	color: #3e8f3e;
	display: inline-block;
	text-decoration: none;
	padding: 1em;
	outline: none;
	border-radius: 1px;
}

a#button16:hover {
	color: #ffffff;
	background-image: radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6),
		transparent), radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6),
		transparent);
}

a#button16:active {
	color: #000000;
	background-image: radial-gradient(1px 45% at 0% 50%, rgba(0, 0, 0, .6),
		transparent), radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, .6),
		transparent);
}

footer {
	text-align: center;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 550px;
	padding: 30px 98px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.colorgraph {
	height: 7px;
	border-top: 0;
	background: #808080;
	border-radius: 5px;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.order-and-comment-form td {
	vertical-align : middle !important;
}

.order-and-comment-form tr > td:nth-of-type(2){
	padding: 0 !important;
}

.order-and-comment-form select{	
	border:none;
	width:100%;
	background: transparent;
}

.order-and-comment-form option {
	padding: 9px;
	height:100%;
}

.order-and-comment-form select option:nth-of-type(2){
	margin-left:0;
}

.order-and-comment-form textarea{
	border: 0;
	width: 100%;
	resize: none;
	min-height: 50px;
	background: transparent;
}

form p {
	font-size: 25px;
}

form span {
	margin-right: 20px;
}

table.dataTable {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important
}

table.dataTable td, table.dataTable th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty
	{
	text-align: center
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
	width: 75px;
	display: inline-block
}

div.dataTables_wrapper 
div.dataTables_filter {
	text-align: right
}

div.dataTables_wrapper div.dataTables_filter
 label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left
}

div.dataTables_wrapper 
 div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 8px;
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	margin-top: -26px;
	text-align: center;
	padding: 1em 0
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc,
	table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc,
	table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting
	{
	padding-right: 30px
}

table.dataTable thead>tr>th:active, table.dataTable thead>tr>td:active {
	outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:after {
	position: absolute;
	bottom: 8px;
	right: 8px;
	display: block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5
}

table.dataTable thead .sorting:after {
	opacity: 0.2;
	content: "\e150"
}

table.dataTable thead .sorting_asc:after {
	content: "\e155"
}

table.dataTable thead .sorting_desc:after {
	content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after
	{
	color: #eee
}

div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after,
	div.dataTables_scrollBody table thead .sorting_desc:after {
	display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td
	{
	border-top: none
}

div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none
}

@media screen and (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter,
		div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate
		{
		text-align: center
	}
}

table.dataTable.table-condensed>thead>tr>th {
	padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after,
	table.dataTable.table-condensed .sorting_desc:after {
	top: 6px;
	right: 6px
}

table.table-bordered.dataTable {
	border-collapse: separate !important
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
	border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
	table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child
	{
	border-right-width: 0
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td
	{
	border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
	margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child
	{
	padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child
	{
	padding-right: 0
}

.comments-table {
	border: 1px solid #eee !important;
}

.comments-table tr:nth-of-type(4n+1), .comments-table tr:nth-of-type(4n+2){
	background: #f9f9f9;
}

.newComment1, .newComment2 {
	display: none;
}

.newComment1 { 
	border-top: 5px dotted #eee;
}

.newComment2 {
	border-bottom: 5px dotted #eee;
}

td {
	word-break: break-all;
}

.order-overdue{
	background-color: #FFBBCC !important;
}

.order-open-not-overdue{
	background-color: #BEFFAD !important;
}

.order-in-progress-not-overdue{
	background-color: #FBFFD8 !important;
}

.order-finished{
	background-color: #F0EFFE !important;
}

.order-incorrect-or-unsolvable{
	background-color: grey !important;
}

.popover-content > div {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.row {
	margin: 0 !important;
}

.col-sm-12 {
	padding: 0 !important;
}

.days-hours-minutes {
	width: 380px;
}

.days-hours-minutes > div{
	width: 100px;
	display:inline-block;
	margin: 0 10px;
}

.days-hours-minutes > div * {
	width: 100%;
	display: block;
	text-align: center;
}