
#table{
	text-align: center;
}
#table th{
	text-align: center;
}
.panel-heading h3{
	text-align: center;
}

#panel{
  max-width: 80%;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
}
#panel img{
width: 200px;

}
#panel h2,h4{
	text-align:center
}
#panel img{
	padding-top: 30px;
}
#panel #note{
	color: red;
}
#panel table caption{
	align:center;
}
a#button16 {
	font-weight: bold;
	color: #3e8f3e;
	display: inline-block;
	text-decoration: none;
	padding: 1em;
	outline: none;
	border-radius: 1px;
}
a#button16:hover {
	color: #ffffff;
	background-image:
  
   radial-gradient(1px 45% at 0% 50%, rgba(0,0,0,.6), transparent),
   radial-gradient(1px 45% at 100% 50%, rgba(0,0,0,.6), transparent); 
}
a#button16:active {
	color: #000000;
   	background-image:
   	radial-gradient(1px 45% at 0% 50%, rgba(0,0,0,.6), transparent),
   	radial-gradient(1px 45% at 100% 50%, rgba(0,0,0,.6), transparent); 
}
footer{
	text-align: center;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 550px;
  padding: 30px 98px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #808080;
  border-radius: 5px;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}